extends ./common/base

block vars 
    - var siteTitle = 'abouts of site';
    - var lang = 'ru';

block content
    include ./common/header
    .block.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eius eaque aut, impedit perspiciatis voluptate qui sapiente mollitia commodi. 
        Nihil molestias, porro a eveniet sapiente aliquid labore sed cumque libero suscipit.
