html 
  head 
    link(rel="stylesheet", href="css/style.min.css")
  body
    include html/header
    main.page 
      h1 Привед!!!
      img(src="@img/1.jpg", alt="alt1")
      span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste reiciendis vero voluptas voluptatem quibusdam? Sit, commodi quasi cumque accusantium aut molestias, neque earum non minus eum quae cupiditate corrupti repellat?
      img(src="@img/1.jpg")
    include html/footer
    script(src="js/main.min.js") 