@import "./normalize/*";

@import './components/bootstrap.min.scss';
@import './components/switch.scss';
@import './components/swiper-bundle.min.scss';
@import './components/simplebar.scss';

// @import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import './common/header.scss';
@import './common/main-cont.scss';
@import './components/main-slide.scss';
@import './components/tabs.scss';
@import './components/card.scss';
@import './components/button.scss';

*{ box-sizing: border-box;}

body{
    margin: 0;
       // background: url(@img/typa.jpg) no-repeat center;
}

a{text-decoration: none;}

.block{
    border:1px solid #ddd;
    background: #ccc;
    padding: 20px;
    font-size: 20px;
}

h1, h1+p, h2, h2+p{
    text-align: center;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.row, .row>*{min-width: 0;margin-top: 0;}

@media screen and  (max-width: 576px){
    .row{margin: 0;}
}




